<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add Store</div>
    <div class="panel-body">
      <form method="post" ng-submit="updateProfile()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Store Name</label>
              <input type="text" class="form-control" ng-model="store.name" />
            </div>

            <div class="form-group">
              <label class="control-label">Store Description</label>
              <input type="text" class="form-control" ng-model="store.description" />
            </div>

            <div class="form-group">
              <div id="map"></div>
            </div>

            <div class="form-group">
              <label class="control-label">Location</label>
              <input type="text" class="form-control" ng-model="store.address" />
            </div>

          </div>
        </div>

        <button class="btn btn-lg btn-success" ng-click="createStore()">Create Store Info</button>
      </form>
    </div>
  </div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
  </script>
</div>